<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093121880278-dov052ho5kl1vvn8ndcb1m2t49b0qvhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093121880278-dov052ho5kl1vvn8ndcb1m2t49b0qvhn</string>
	<key>API_KEY</key>
	<string>AIzaSyCJPUuDoHHb7-QPLOxQJgiq5u5ZaFuF-Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>1093121880278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tgame.tennisapp</string>
	<key>PROJECT_ID</key>
	<string>tennisapprunningdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>tennisapprunningdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093121880278:ios:400029c4ff856016381977</string>
</dict>
</plist>